# -----------------------------------
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------------
# Vite / React
dist/
*.local
.env.local

# -----------------------------------
# Environment Variables
.env
.env.*

# -----------------------------------
# Logs
logs/
*.log
debug.log
server/config/*.json
# Uploads (Store on Cloud or CDN instead)
server/uploads/*
!server/uploads/.gitkeep
!server/uploads/**/*.mp4
!server/uploads/**/*.webm
!server/uploads/**/*.ts
!server/uploads/**/*.m3u8
!server/uploads/**/*.mov
!server/uploads/**/*.png

# -----------------------------------
# System Files
.DS_Store
Thumbs.db

# -----------------------------------
# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# -----------------------------------
# Build Tools
build/
coverage/
.cache/
.eslintcache

# -----------------------------------
# Docker
docker-compose.override.yml
*.pid

# -----------------------------------
# Optional frontend caching
client/.vite/
